<div>
  <span ng-show="hasErrors()" ng-bind="User.errors" ></span>
  <form name="passwordResetForm" ng-submit="reset()">
    <div class="control-group">
      <label>Current Password</label>
      <input type="password" ng-model="User.current_password" required>
    </div>
    <div class="control-group">
      <label>Password</label>
      <input type="password" ng-model="User.password" required>
    </div>
    <div class="control-group">
      <label>Password Confirmation</label>
      <input type="password" ng-model="User.password_confirmation" required>
    </div>
    <button class="btn">Register </button>
  </form>
</div>
